
<div class="jumbotron vertical-center">
    <div class="container">
        <h2 class="text-center">Подтверждение почты</h2>
        <div class="text-center">
            <p>Спасибо что подтвердили почту, теперь вы можете голосовать за работы других участников.</p>
        </div>
    </div>
</div>
