
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Claims</title>
</head>
<body>
    @foreach (var claim in User.Claims.ToList())
    {
        <p>@claim.Type : @claim.Value</p>
    }
</body>
</html>
